node_modules
/lib/
/temp/
/draft/
.DS_Store
.lagune/
/PLAN.md
/.plans

# Lagune
/.lagune/templates/
/.lagune/hooks/
/.lagune/skills/*
/**/lagune.*
/**/lagune/
!/spec/commands/lagune.*
!/website/docs/commands/lagune.*
!/website/src/prism/lagune.*
